{% extends 'base.html.twig' %}

{% block title %}Nouveau livre{% endblock %}

{% block body %}
    {{ form_start(formBook) }}
    {{ form_rest(formBook) }}
    <button type="submit" class="btn btn-success">Valider</button>
    {{ form_end(formBook) }}
{% endblock %}